<!-- templates/registration/password_reset_confirm.html -->
{% extends 'autentication.html' %}
{% load crispy_forms_tags %}

{% block title %}Nova Senha{% endblock %}

{% block content %}

{% if validlink %}
<div class="w-100 row mb-4 mt-3">
     <div class="col-md-4 offset-md-4">
       <h1>Insira a nova senha!</h1>
          <div class="card-body" style="width: 21rem;">

            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-primary" type="submit" value="Mude a sua senha">
            </form>
          </div>
     </div>
</div>


{% else %}
<div class="w-100 row mb-4 mt-3">
     <div class="col-md-4 offset-md-4">
       <div class="card-body" style="width: 21rem;">
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p> Please request a new password reset.</p>
       </div>
     </div>
</div>

{% endif %}
{% endblock %}
