{% extends 'autentication.html' %}

{% block title %}Alteração de Senha Completada{% endblock %}

{% block content %}
<div class="w-100 row mb-4">
     <div class="col-md-3 offset-md-3">
          <div class="card-body" style="width: 45rem;">
            <h1>Alteração de Senha Completada !!</h1>
            <p>Você tem um nova senha.</p>
            <p>Você pode entrar com ela agora.</p>
            <p><a href="{% url 'login' %}">Entre na página.</a></p>
          </div>
     </div>
</div>
<div class="w-100 row mb-5"></div>
<div class="w-100 row mb-5"></div>
<div class="w-100 row mb-5"></div>
<div class="w-100 row mb-5"></div>
<div class="w-100 row mb-5"></div>
<div class="w-100 row mb-4"></div>
{% endblock %}