{% extends 'autentication.html' %}
{% load crispy_forms_tags %}

{% block title %}Esqueceu Sua Senha?{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card  auth-card">
            <div class="card-body">
                <h2 class="card-title text-center">Esqueceu sua senha?</h2>

                  <p>Entre com seu email, e enviaremos instruções por e-mail para definir uma nova senha.</p>

                    </br>

                  <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    </br>
                    </br>
                    <input type="submit" class="btn btn-primary btn-block" value="Enviar Instruções">
                  </form>


                <a href="{% url 'dashboard:index' %}">Back to dashboard</a>

           </div>

        </div>
        </br></br>
    </div>

</div>
{% endblock %}