body{
    width: 95%;
    margin: auto;
}

  .flex-container {
     /* width: 94%; */
    display: flex; 
    justify-content: space-between;
    /* align-items: inherit; */
    /* padding: 2px; */
  }

  .menu{
     width: 18%;
     height:100px;
     
  }

  .flex-container > .menu:first-child {
    align-self: stretch;
}

.flex-container:nth-child(2) {
    margin-top: 2%;
    width: 80%;
    margin-left: 19.9%;
    justify-content: space-between;
    height: 40%;
}
.charts1{  
  width: 47%;
  margin-left: 7px;
  /* height:100px; */
}
  
.flex-container:nth-child(3) {
  /* margin-top: 2%; */
  width: 100%;  
  justify-content: space-between;
  /* height: 200px; */
}
.charts2{ 
  /* padding:2%;  */
  margin: 2%;
  width: 45%;
  height:300px;
  /* margin-bottom: 2%; */

}


ul.campanha{
    list-style-type: none;
}
/* 
@media screen and (min-width: 640px){
  .container .menu .charts1 .charts2 .flex-container {
      display: flex;
  }    
}
 */


