<html>
<heady>
<link rel="stylesheet" type="text/css" href="style.css">
</heady>

<body>
    <div class="containers">
    
            <div class="flex-container">
                <div class="menu">                
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li> 
                        <li></li> 
                        <li></li> 
                        <li></li> 
                        <li></li> 
                        <li></li> 
                        <li></li>       
                    </ul>            
                </div>
            
                <div class="menu">One</div>
                <div class="menu">Two</div>
                <div class="menu">Three</div>
                <div class="menu">Four</div>
            </div>

            <div class="flex-container">
                        
                <div class="charts1">One</div>
                <div class="charts1">Two</div>
               
            </div>

    </div>
    <div class="containers">
      <div class="flex-container">
                        
                <div class="charts2">One</div>
                <div class="charts2">Two</div>
               
            </div>
    </div>        

</body>

</html>