{% extends  'base.html' %}

{% block title %}Sobre{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
       <h1>Genshiscode</h1>
    </div>
    </br>
    <div class="row justify-content-md-center">
          <p>A Genshiscode surgiu apenas do livre prazer de programar um hobby, uma fixação, um quebra cabeça...</p>
    </div>
  <div class="row justify-content-md-center">
          <p>Eu Apaixonado por tecnologia e códigos venho programando em Python e eu estou gostando...</p>
    </div>
  <div class="row justify-content-md-center">
          <p>Daqui um ano o programador de 40 anos.</p>
  </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

</div>
 {% endblock %}